<div class="content-header">
    <div class="container-fluid"><h1 class="m-0"><%= title %></h1></div>
</div>
<div class="content">
    <div class="container-fluid">
        <div class="card card-primary">
            <div class="card-header">
                <h3 class="card-title">Persentase Keuntungan (%)</h3>
            </div>
            <form action="/admin/settings" method="POST">
                <div class="card-body">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Markup Default/Global</label>
                        <div class="col-sm-9">
                            <input type="number" name="markup_global" class="form-control" value="<%= config.markup_global %>" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Markup Instagram</label>
                        <div class="col-sm-9">
                            <input type="number" name="markup_instagram" class="form-control" value="<%= config.markup_instagram %>" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Markup TikTok</label>
                        <div class="col-sm-9">
                            <input type="number" name="markup_tiktok" class="form-control" value="<%= config.markup_tiktok %>" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Markup YouTube</label>
                        <div class="col-sm-9">
                            <input type="number" name="markup_youtube" class="form-control" value="<%= config.markup_youtube %>" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Markup Telegram</label>
                        <div class="col-sm-9">
                            <input type="number" name="markup_telegram" class="form-control" value="<%= config.markup_telegram %>" required>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Markup Facebook</label>
                        <div class="col-sm-9">
                            <input type="number" name="markup_facebook" class="form-control" value="<%= config.markup_facebook %>" required>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary">Simpan Pengaturan</button>
                </div>
            </form>
        </div>
    </div>
</div>
